#editor-messages .aui-message.error .smalltext {
    color: #ddd;
}

#editor-messages .aui-message.error {
    font-size: 18px;
}

#editor-messages .aui-message.error .aui-icon.icon-error {
    height: 20px;
    width: 20px;
    background-size: 20px;
}

#editor-messages .aui-message.error .icon-close {
    top: 14px;
    right: 14px;
}